#deleteBit {
    margin-top: 10px; /* Agrega espacio entre la descripción y el botón */
}

.card-container #deleteBit{
    align-self: center; /* Centra el botón dentro del contenedor */
}

.Card_Content{
    overflow: hidden;
    display: flex;
}

.carta{
    height: auto;
}