#deleteBit {
    margin-top: 10px; 
}

.card-container #deleteBit{
    align-self: center;
}

.Card_Content{
    overflow: hidden;
    display: flex;
}

.carta{
    height: 100%;
}

#textos{
    overflow: hidden;
    display: flex;
    flex-direction: column;
}